<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CheckPublicTransportRelations.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <CheckPublicTransportRelations.Properties.Settings>
            <setting name="LastOpenStreetMapBusStopRefresh" serializeAs="String">
                <value />
            </setting>
            <setting name="LastTravelineDownload" serializeAs="String">
                <value />
            </setting>
            <setting name="LastServiceExtract" serializeAs="String">
                <value />
            </setting>
            <setting name="LastOpenStreetMapDownload" serializeAs="String">
                <value />
            </setting>
            <setting name="OverpassServer" serializeAs="String">
                <value>https://overpass-api.de/api/interpreter</value>
            </setting>
            <setting name="OverpassQueryPrefix" serializeAs="String">
                <value>?data=</value>
            </setting>
            <setting name="TravelineSite" serializeAs="String">
                <value>ftp.tnds.basemap.co.uk</value>
            </setting>
            <setting name="TravelineUsername" serializeAs="String">
                <value />
            </setting>
            <setting name="TravelinePassword" serializeAs="String">
                <value />
            </setting>
            <setting name="LocalPath" serializeAs="String">
                <value />
            </setting>
            <setting name="ShowMatchedServices" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowMatchedRoutes" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowMatchedFromToNames" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SelectedLocation" serializeAs="String">
                <value />
            </setting>
            <setting name="LastNaptanRefresh" serializeAs="String">
                <value />
            </setting>
            <setting name="NaptanUrl" serializeAs="String">
                <value>http://naptan.app.dft.gov.uk/DataRequest/Naptan.ashx?format=csv</value>
            </setting>
            <setting name="ShowMatchedStops" serializeAs="String">
                <value>True</value>
            </setting>
        </CheckPublicTransportRelations.Properties.Settings>
    </userSettings>
</configuration>